.title_header_pass{
  display: block;
  border-bottom: .0625rem solid #efefef;
  padding: 1.125rem 0;
}
.title_header_pass_item{
  margin: 0;
  font-size: 0.925rem;
  font-weight: 150;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}
.content_header_pass{
  padding-top: 1.5625rem;
}
