.wrap {
	margin-top: 120px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
}
.width_common {
	width: 1170px;
	display: flex;
	flex-direction: column;
}
.cate_home {
	background: #d9363e;
	color: #fff;
	/* text-transform: uppercase; */
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	width: 23.8%;;
	height: 57px;
	padding-top: 14px;
}
.menu_children_li:first-child{
	border-top: 1px solid #ddd;
}
.menu_item {
	width: 19.2%;
}
.title_danh_muc {
	display: flex;
}
.menu_item ul {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.menu_item ul li {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	list-style: none;
}
.label_page_header {
	/*display: flex;*/
	width: 100%;
	position: relative;
	height: 57px;
}
.label_page_header_label {
	z-index: 1;
	background-color: #dd5d5d;
	font-size: 1.25rem;
	height: 100%;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	padding-top: 6px;
	padding-right: 15px;
	padding-left: 32px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.label_page_header_label::before {
	top: 0px;
	left: 0;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 22px solid #d9363e;
}

/*.label_page_header_label::after {*/
/*	content: '';*/
/*	position: inherit;*/
/*	border-top: 11px solid transparent;*/
/*	border-bottom: 30px solid transparent;*/
/*	border-left: 22px solid #dd5d5d;*/
/*}*/

.hr_btn {
	position: absolute;
	border-top: 1px dotted rgba(0, 0, 0, 0.26);
	width: 100%;
	left: 0;
	top: 50%;
	margin: 0;
}
.content_product_detail{
	width: 80.8%;
	display: flex;
	flex-direction: column;
	margin-top: -50px;
}
.pagination_content{
	margin-bottom: 15px;
	margin-left: auto;
}
.page_row {
	width: 100%;
	padding: 2.5rem 0 1.5rem 0;
	display: flex;
	justify-content: space-between;
	-webkit-box-flex: 0;
	-webkit-box-direction: normal;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -0.3125rem;
	margin-left: 1.3125rem;
}
.cart_tat_ca {
	width: 189px;
	height: 280px;
	padding: 0.3125rem 0.3125rem 0.625rem 0.3125rem;
	flex: 0 0 auto;
	margin-left: 0.4125rem;
	margin-top: 1.2125rem;
}
