.content_account {
	display: flex;
	padding:  0 3.125rem;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 191px;
	flex-direction: column;
}
.user_page_sidebar {
	display: flex;
	flex-shrink: 0;
}
.user_page_brief {
	display: flex;
	padding: 15px 0;
	margin-right: 80px;
	align-items: center;
}
.user_page_sidebar_menu {
	width: 100%;
	list-style: none;
	cursor: pointer;
	margin-top: 38px;
}
.user_page_sidebar_menu > ul {
	list-style: none;
}
.user_page_sidebar_menu > ul > li {
	padding: 10px 5px;
}
.user_page_brief__avatar {
	width: 50px;
	height: 50px;
}
.user_page_brief__avatar a {
	text-decoration: none;
	background-color: transparent;
	color: -webkit-link;
	cursor: pointer;
}
.user_page_brief__right {
	flex: 1;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	padding-left: 15px;
	overflow: hidden;
}
.user_page_brief__username {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	min-height: 1rem;
	font-weight: 600;
	margin-bottom: 5px;
	color: #333;
	margin-right: 10px;
}
.user_page_brief__username div {
	display: block;
}
._3D9BVC {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	width: 980px;
	box-sizing: border-box;
	margin-left: 1.6875rem;
	min-width: 0;
	background: #fff;
	border-radius: 0.125rem;
}
.h4QDlo {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: relative;
	min-height: 100%;
}
.my_account_section {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 0 30px 20px;
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei,
		Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”,
		Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}
.my_account_section__header {
}
.my_account_profile {
	display: flex;
	flex-direction: column;
	-webkit-box-align: start;
	align-items: flex-start;
	margin-top: 10px;
	padding-top: 30px;
	border-top: 0.5px solid #e7e7db;
}
.my_account_section__header_left {
	-webkit-box-flex: 1;
}
.my_account_section__header_title {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	color: #333;
	text-transform: capitalize;
}
.my_account_section__header_subtitle {
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: #555;
	margin-top: 3px;
}
.my_account_profile__left {
	width: 420px;
	-webkit-box-flex: 1;
	flex: 1;
	margin-right: 10px;
}
.my_account_profile__right {
	width: 410px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-left: 10px;
	padding-left: 20px;
}
.my_account_profile__left_item {
	padding-top: 2px;
	display: flex;
	width: 100%;
}
.my_account_profile__left_item_title {
	margin-right: 10px;
	padding-top: 5px;
	width: 120px;
}
.my_account_profile__left_item_input {
	width: 300px;
}
.content_left{
	display: flex;
	flex-direction: row-reverse;
}
.avatar-uploader > .ant-upload {
	width: 128px;
	height: 128px;
}
.content{
	background-color: #ffffff !important;
}

