.purchase_list_page__tabs_container {
	display: flex;
	border-radius: 0.125rem;
	background: #fff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin-bottom: 0.75rem;
}
.purchase_list_page__tab {
	cursor: pointer;
	user-select: none;
	font-size: 1rem;
	line-height: 1.1875rem;
	padding: 1rem 0;
	color: rgba(0, 0, 0, 0.8);
	-webkit-box-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.purchase_list_page__tab_label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.card_container {
	width: 100%;
	:global {
		.ant-list-bordered {
			//border-radius: 20px;
			margin: 10px;
			border: 1px solid red;
		}
	}
}
.ant-tabs-tab {
	width: 50px !important;
}
.card-container p {
	margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
	height: 120px;
	margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
	padding: 16px;
	background: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
	display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
	background: transparent;
	border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
	background: #fff;
	border-color: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
	padding: 24px;
	overflow: hidden;
	background: #f5f5f5;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
	height: 120px;
	margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
	background: transparent;
	border-color: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
	background: #000;
}
[data-theme='dark']
	.card-container
	> .ant-tabs-card
	.ant-tabs-content
	> .ant-tabs-tabpane {
	background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
	background: #141414;
	border-color: #141414;
}

.header_list {
	display: flex;
	justify-content: space-between;
}
.header_don_hang {
	font-size: 16px;
	font-weight: bold;
}
.header_trang_thai {
	color: #0981b1;
	font-weight: bold;
}
.footer_logo {
	width: 1.375rem;
	height: 1.375rem;
	margin-right: 0.3125rem;
}
.footer_tien {
	color: #ee4d2d;
	font-size: 1.075rem;
	line-height: 2rem;
}
.footer_list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	-webkit-box-align: end;
}
.footer_list_one {
	display: flex;
	-webkit-box-pack: end;
}
.footer_tong_tien {
	margin-top: 12px;
	margin-right: 10px;
}
.footer_action {
	display: flex;
}
.btn_action {
	margin-left: 10px;
	background-color: #f05d40;
	padding: 0 0.625rem;
	box-sizing: border-box;
	font-weight: 300;
	color: #fff;
	transition: opacity 0.2s ease;
	border-radius: 2px;
	user-select: none;
}
.btn_action:hover {
	background-color: #61dafb;
	color: #fff;
	border: none;
}
.modal_xem_detail {
	display: flex;
	flex-direction: column;
}
.top_order_detail {
	float: left;
	width: 698px;
	background: #f9f9f9;
	border-bottom: 1px solid #ededed;
	padding-left: 33px;
	display: flex;
	flex-direction: column;
}
.content_order_detail {
	float: left;
	width: 100%;
}
.title_order {
	background: #f9f9f9;
	border-bottom: 1px solid #e4e4e4;
	float: left;
	width: 654px;
	height: 37px;
	line-height: 40px;
	font-size: 18px;
	color: #222;
}
.title_order > b {
	font-family: Arial, Tahoma;
	font-weight: bold !important;
}
.order_info {
	width: 654px;
	float: left;
	padding: 5px 0 5px 5px;
}
.add_giaohang {
	width: 654px;
	float: left;
	padding: 5px 0 5px 5px;
	display: flex;
}
.line_order_info {
	width: 100%;
	float: left;
	display: flex;
	flex-direction: row;
	line-height: 35px;
	border-bottom: 1px solid #ededed;
}
.line_order_info_left{
	display: flex;
	width: 40%;
}
.line_order_info_right{
	display: flex;
	width: 60%;
}
.left_order_info {
	width: 150px;
	float: left;
	white-space: nowrap;
}
.right_order_info {
	width: 190px;
	float: left;
}
.right_order_info > b {
	font-family: Arial, Tahoma;
	font-weight: bold !important;
}
.line_add_gh {
	height: 35px;
	line-height: 35px;
}
.header_manage_order {
	width: 100%;
	float: left;
	border-bottom: 1px solid #cdcdcd;
	padding: 0 16px;
	height: 38px;
	line-height: 48px;
}
.header_manage_order > span {
	font-size: 13px;
}
.head_col1 {
	float: left;
	width: 425px;
	text-transform: uppercase;
	padding-left: 3px;
}
.head_col2 {
	float: left;
	width: 103px;
	text-transform: uppercase;
}
.head_col3 {
	width: 103px;
	margin-right: 21px;
	float: left;
	text-transform: uppercase;
}
.head_col4{
	width: 103px;
}
.inside_order_detail {
	float: left;
	width: 100%;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
}
.item_order {
	float: left;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	display: flex;
	flex-direction: row;
}
.item_order_name {
	width: 350px;
	float: left;
}
.bottom_order {
	float: left;
	width: 100%;
	margin: 10px 0 0 !important;
}
.bottom_order b {
	font-family: Arial,Tahoma;
	font-weight: bold!important;
}
.bottom_order > span {
	font-size: 13px;
}
.item_order > img {
	float: left;
	width: 63px;
	height: 63px;
}
.name_order_detail {
	display: block;
	margin: 13px 0 0 10px;
}
.item_order_gia {
	margin: 15px 0 0 10px;
	float: left;
	min-width: 100px;
}
.item_order_tien {
	margin: 15px 0 0 0;
	float: left;
	min-width: 100px;
}
.bottom_order {
	float: left;
	width: 100%;
	margin: 0 0 0;
}
.count_pro_order {
	float: left;
	margin-left: 31px;
}
.total_price_order {
	float: right;
	padding-right: 26px;
	border-bottom: 1px solid #f2f2f2;
}
.total_price_order_clear{
	float: right;
	padding-right: 26px;
	clear: both;
}
