.herader_dangnhap {
	display: flex;
	margin-top: 25px;
	background-color: #f8fbcd;
}
.dang_nhap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form_dang_nhap {
	margin-top: 10px;
	width: 550px;
	/*height: 300px;*/
	background-color: #ffffff;
	filter: drop-shadow(0 0 3px #000);
	border-radius: 12px;
}
.verticalLine {
	border-left: thick solid #ff0000;
	font-family: cursive;
	font-size: 14px;
	width: 300px;
}
._3svg61 {
	height: 1px;
	width: 100%;
	background-color: #dbdbdb;
	-webkit-box-flex: 1;
	flex: 1;
	margin-top: 12px;
}
._1ZEpVL {
	color: #ccc;
	padding: 0 1rem;
	text-transform: uppercase;
	font-size: 0.75rem;
}
.IFLxoY {
	display: flex;
}
._3svg61 {
	height: 1px;
	width: 100%;
	background-color: #dbdbdb;
	-webkit-box-flex: 1;
	flex: 1;
}
.login_social {
	display: flex;
	width: 60%;
	margin: auto;
	flex-direction: column;
	margin-top: 4%;
}
.span_or {
	position: absolute;
	background: #fff;
	left: 48%;
	font-size: 18px;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	vertical-align: baseline;
	font-family: Arial, Tahoma;
	margin: auto;
	height: 40px;
	text-align: center;
	line-height: 40px;
	width: 40px;
}
.login_fb {
	background: #3b5b98;
}
.login_gg {
	background: #d74a38;
	margin-bottom: 20px;
}
.login_social_icon {
	font-size: 30px;
	color: #fff;
	float: left;
	width: 30%;
	border-right: 0.1px solid #ccc;
	margin-right: 10px;
	position: relative;
	padding-right: 10px;
}
.login_social_text {
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.login_fb,
.login_tt,
.login_gg {
	font-size: 14px;
	padding: 3px 10px;
	color: #fff;
	text-decoration: none;
	width: 48%;
	height: 44px;
	line-height: 40px;
	border-radius: 5px;
}
.verticalLine p {
	margin-left: 40px;
	margin-top: 15px;
	color: #fb1eb3;
}
.title {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-left: 10px;
}
.form {
	width: 100%;
	height: 100%;
}
.item_form_dang_nhap {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 5px;
	display: flex;
	padding-left: 20px;
}
.action_out {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title_dang_nhap {
	width: 30%;
	padding: 10px 30px;
}
.input_dang_nhap input {
	width: 80%;
	height: 100%;
}
.action_dang_nhap {
	margin-left: 90px;
	/*width: 300px;*/
}
.input_field {
	display: flex;
	position: relative;
	line-height: 44px;
	width: 70%;
	padding-top: 5px;
	margin-left: 90px;
}
.input_field label {
	top: 35%;
	background-color: #ffffff !important;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-size: 11px;
	line-height: 14px;
	transform: translateY(0);
	position: absolute;
	left: 0;
	width: 30%;
	transition: 0.2s all;
	cursor: text;
	margin-left: 10px;
	padding-left: 10px;
}
.input_field span {
	top: 35%;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	line-height: 14px;
	transform: translateY(0);
	position: absolute;
	left: 0;
	transition: 0.2s all;
	cursor: text;
	margin-left: 145px;
}
.input_field span:hover {
	cursor: pointer;
}
.input_field input {
	background-color: #ffffff !important;
	position: relative;
	padding: 15px 20px 11px;
	outline: none;
	border: solid 1px rgb(149, 152, 154);
	border-radius: 4px;
	color: rgb(44, 50, 53);
	letter-spacing: 0.2px;
	font-weight: 400;
	font-size: 16px;
	resize: none;
	transition: all 0.2s ease;
	outline: 0;
	box-shadow: none;
	width: 90%;
	height: 90%;
}
.input_field input:invalid {
	outline: 0;
}
.input_field input:hover {
	border-color: #000;
}
.input_field input:focus,
.input_field input:valid {
	border-color: #000;
}
.input_field input:focus ~ label,
.input_field input:valid ~ label {
	font-size: 14px;
	top: 0px;
	color: #000;
	z-index: 1;
}
